/*------------------------- Début du reset -------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body
{
	line-height: 2.5;
}

ol, ul
{
	list-style: none;
}

blockquote, q
{
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after
{
	content: '';
	content: none;
}

table
{
	border-collapse: collapse;
	border-spacing: 0;
}
/*------------------------- Général -------------------------*/
body
{
    font-family: "Raleway-Regular", Arial, Helvetica, sans-serif;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
}

html
{
    scroll-behavior: smooth;
}

a:visited, a:link, a
{
    text-decoration: none;
    color: initial;
}

/*------------------------- En-tête -------------------------*/
.logo
{
    display: flex;
    width: 8vw;
    height: 8vw;
}

.logo-et-menu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -3vw;
}

.menu
{
    display: flex;
    list-style: none;
    font-size: 1vw;
}

li
{
    margin-left: 5vw;
}

.inscription
{
    color: #0065fc;
    font-weight: bold;
}

.liens-menu:hover
{
    color: #0065fc;
    border-top: 2px solid;
    padding-top: 3.28vw;
}

.effet-menu
{
    display: inline-block;
    width: 130%;
    text-align: center;
}

/*------------------------- Textes -------------------------*/
.texte1
{
    font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
    font-size: 1.4vw;
    margin-top: 1%;
}

.texte2
{
    font-size: 1vw;
    margin-top: -1%; 
}

/*------------------------- Recherche et filtres -------------------------*/
.bloc-recherche
{
    display: flex;
    margin-top: 1vw;
}

.fa-map-marker-alt
{
   font-size: 1vw;
   text-align: center;
   border: 1px solid #f2f2f2;
   background-color: #f2f2f2;
   border-radius: 15px 0px 0px 15px;
   padding: 1%;
}

.barre-recherche
{
    border: none;
    font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
    border: 1px solid #f2f2f2;
    font-size: 1.1vw;
    padding: 0.5em 1em 0.5em 1em;
}

input::placeholder 
{
    color: black;
    opacity: 1;
}

input:focus
{
    outline: none;
}

.bouton
{
    border: none;
    color: white;
    background-color: #0065fc;
    font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
    border-radius: 0px 15px 15px 0px;
    font-size: 1.2vw;
    padding: 0.5em 1em 0.5em 1em;
    -webkit-appearance: none;
}

.fa-search
{
    visibility: hidden;
}

.bouton:hover
{
    cursor: pointer;
}

.bloc-filtres
{
    display: flex;
    align-items: center;
    font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
    margin-top: 1.5%;
    white-space: nowrap;
}

.titre-filtres
{
    margin-right: 1.5vw;
    font-size: 1vw;
}

.filtres
{
    display: flex;
    font-size: 1vw;
    align-items: center;
    border: 2px solid #f2f2f2;
    border-left: none;
    border-radius: 30px;
    padding-right: 1vw;
    margin-right: 2vw;
}

.filtres:hover
{
    background-color: #deebff;
    cursor: pointer;
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog
{
    display: flex;
    color: #0065fc;
    font-size: 1.4vw;
    padding: 0.6em;
    background-color: #deebff;
    border-radius: 50%;
    margin-right: 1vw;
}

.fa-money-bill-wave
{
    padding-right: 0.52em;
    padding-left: 0.52em;
}

.fa-child
{
    padding-right: 0.75em;
    padding-left: 0.75em;
}

.info
{
    display: flex;
    font-size: 1vw;
    margin-top: 1.5%;
}

.fa-info
{
    color: #0065fc;
    font-size: 0.9vw;
    border: 2px solid #f2f2f2;
    border-radius: 50%;
    padding: 0.4em 0.7em;
    margin-right: 1em;
}

/*------------------------- Blocs hébergements et populaires -------------------------*/
.bloc-hébergements-et-populaires
{
    display: flex;
}

/*------------------------- Bloc hébergements -------------------------*/
.bloc-photo-hébergements
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 65%;
    background-color: #f2f2f2;
    border-radius: 20px;
    margin-top: 2%;
    padding: 1.5%;
}

.photo-hébergements
{
    display: flex;
    position: relative;
    margin-bottom: 3%;
}

.photo-hébergements a
{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.h1-hébergements
{
    width: 70%;
    font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    margin-bottom: -2%;
}

.h2-hébergements
{
    width: 100%;
    font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
    margin-top: -1%;
}

.réglages-photo-hébergements
{
    display: flex;
    width: 18vw;
    height: 10vw;
    object-fit: cover;
    border: 5px solid white;
    border-radius: 25px 25px 10px 10px;
}

.bannières-hébergements
{
    font-size: 1vw;
    background: white;
    position: absolute;
    text-align: left;
    color: black;
    border-radius: 0px 0px 25px 25px;
    bottom: -5%;
    width: 95.1%;
    height: 30%;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    line-height: 1.2;
    box-shadow: 0px 7px 15px 0px rgba(187, 184, 184, 0.4);
}

.gras
{
    font-weight: bold;
}

.bannières-paragraphes-1
{
    font-weight: bold;
    font-size: 1vw;
}

.bannières-paragraphes-2
{
    font-size: 0.9vw;
}

.fa-star
{
    color: #0065fc;
    font-size: 0.8em;
}

.étoiles-hébergements
{
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    padding-bottom: 5%;
}

/*------------------------- Bloc populaires -------------------------*/
.bloc-populaires
{
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #f2f2f2;
    border-radius: 20px;
    margin-top: 2%;
    margin-left: 2%;
    padding: 1.5%;
}

.photo-populaires
{
    display: flex;
    position: relative;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 6%;
    
}

.h1-populaires
{
    font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    margin-bottom: 2%;
}

.titre-populaires
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 6%;
}

.fa-chart-line
{
    font-size: 1.5vw;
    margin-right: 10%;
}

.réglages-photo-populaires
{
    width: 9vw;
    height: 9vw;
    object-fit: cover;
    border: 5px solid white;
    border-radius: 25px 0px 0px 25px;
    box-shadow: 6px 7px 15px -2px rgba(187, 184, 184, 0.4);
}

.bannières-populaires
{
    display: flex;
    flex-direction: column;
    font-size: 1.1vw;
    background: white;
    position: absolute;
    text-align: left;
    color: black;
    border-radius: 0px 25px 25px 0px;
    right: 0%;
    width: 52%;
    height: 93.06%;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    line-height: 1.5;
    box-shadow: 6px 7px 15px -2px rgba(187, 184, 184, 0.4);
}

.photo-populaires a
{
    display: flex;
}

.étoiles-populaires
{
    display: flex;
    flex-direction: row;
    margin-top: auto;
    padding-bottom: 5%;
}

/*------------------------- Bloc activcités -------------------------*/
.bloc-activités
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 35vw;
}

.photos-activités
{
    display: flex;
    position: relative;
    max-height: 35vw;
    min-width: 23.5vw;
}

.h1-activités
{
    font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    margin-top: 2%;
    margin-bottom: 0.5%;
}

.réglages-photo-activités-1
{
    display: flex;
    width: 21vw;
    height: 35vw;
    object-fit: cover;
    border-radius: 25px 25px 25px 25px;
}

.réglages-photo-activités-2
{
    display: flex;
    width: 21vw;
    height: 18.6vw;
    object-fit: cover;
    border-radius: 25px 25px 25px 25px;
}

.écart-activités-1
{
    display: flex;
    margin-top: 18.3%;
}

.réglages-photo-activités-3
{
    display: flex;
    width: 21vw;
    height: 12vw;
    object-fit: cover;
    border-radius: 25px 25px 25px 25px;
}

.réglages-photo-activités-4, .réglages-photo-activités-5
{
    display: flex;
    width: 21vw;
    height: 15.35vw;
    object-fit: cover;
    border-radius: 25px 25px 25px 25px;
}

.écart-activités-2
{
    display: flex;
    margin-top: 18.3%;
}

.bannières-activités
{
    font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
    font-size: 1vw;
    background: white;
    position: absolute;
    text-align: left;
    color: black;
    border-radius: 0px 0px 25px 25px;
    bottom: -1%;
    width: 19.85vw;
    height: 3.2vw;
    padding-top: 5%;
    padding-left: 5%;
    box-shadow: 0px 5px 15px 0px rgba(187, 184, 184, 0.4);
}

/*------------------------- Footer -------------------------*/
footer
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    background-color: #f2f2f2;
    margin-top: 5%;
    margin-left: -3%;
    margin-right: -3.2%;
    padding-bottom: 4%;
    max-height: 10vw;
}

.bloc-footer-1, .bloc-footer-2, .bloc-footer-3
{
    width: 25%;
    margin-top: 2%;
    margin-left: 2%;
}

.bloc-footer-1
{
    margin-left: 2.5%;
}


.footer-paragraphe-1
{
    font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
    margin-bottom: 3%;
}

.footer-paragraphe-2
{
    line-height: 2;
    font-size: 1vw;
}

footer a:hover
{
    text-decoration: underline;
}

/*------------------------------------------------------------------------------------*/
/*-------------------------- Responsive mobile (≤ à 425px) ---------------------------*/
/*------------------------------------------------------------------------------------*/
@media only screen and (max-width : 425px)
{

/*------------------------- Responsive mobile: En-tête -------------------------*/
    header
    {
    margin-left: -3%;
    margin-right: -3%;
    }

    .logo
    {
    width: 37vw;
    height: 15vw;
    margin-bottom: 5%;
    margin-top: 3%;
    }

    .logo-et-menu
    {
    flex-wrap: wrap;
    width: 100%;
    }

    .menu
    {
    font-size: 5vw;
    margin-bottom: 5px;
    width: 100%;
    border-bottom: 3px solid #f2f2f2;
    }

    li
    {
    width: 100%;
    margin-left: unset;
    }

    .inscription
    {
    position: absolute;
    right: 5vw;
    top: 5vw;
    width: unset;
    }

    .liens-menu:hover
    {
    border-top: none;
    padding-top: unset;
    border-bottom: 3px solid;
    padding-bottom: 3.3vw;
    
    }

    .effet-menu
    {
    width: 100%;
    }

/*------------------------- Responsive mobile: Textes -------------------------*/
    .texte1
    {
    font-size: 5vw;
    line-height: 1.3;
    margin-bottom: 2%;
    margin-top: 5%;
    }

    .texte2
    {
    font-size: 4vw;
    }

/*------------------------- Responsive mobile: Recherche, filtres et informations -------------------------*/
    .bloc-recherche
    {
    margin-top: 5%;
    justify-content: center;
    margin-bottom: 5%;
    }

    .fa-map-marker-alt
    {
    font-size: 5vw;
    padding: 5%;
    }

    .barre-recherche
    {
    font-size: 4.5vw;
    }

    .bouton
    {
    border-radius: 10px;
    font-size: 5vw;
    padding: 0.5em 1em 0.5em 1em;
    margin-left: -3%;
    -webkit-appearance: none;
    }

    .fa-search
    {
    visibility: visible;
    }

    .texte-rechercher
    {
    display: none;
    }

    .bloc-filtres
    {
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 5%;
    }

    .contenaire-titre-filtres
    {
    width: 100%;
    }

    .titre-filtres
    {
    font-size: 5vw;
    }

    .filtres
    {
    font-size: 5vw;
    margin-bottom: 5%;
    padding-right: 1em;
    }

    .fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog
    {
    font-size: 120%;
    margin-right: 5%;
    }

    .fa-money-bill-wave
    {
    padding-right: 0.52em;
    padding-left: 0.52em;
    }

    .fa-child
    {
    padding-right: 0.75em;
    padding-left: 0.75em;
    }

    .info
    {
    font-size: 4vw;
    line-height: 1.5;
    margin-bottom: 5%;
    }
    
    .fa-info
    {
    font-size: 80%;
    float: left;
    }

/*------------------------- Responsive mobile: Blocs hébergements et populaires -------------------------*/
    .bloc-hébergements-et-populaires
    {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    }
    
/*------------------------- Responsive mobile: Populaires -------------------------*/
    .bloc-populaires
    {
    order: -1;
    width: 100%;
    margin-left: -3%;
    padding-right: 4.15vw;
    border-radius: 0px;
    }

    .h1-populaires
    {
    font-size: 5vw;
    margin-left: -2%;
    }

    .fa-chart-line
    {
    font-size: 5vw;
    margin-right: 0%;
    }

    .réglages-photo-populaires
    {
    width: 36vw;
    height: 40vw;
    margin-left: -3vw;
    }

    .bannières-populaires
    {
    font-size: 4vw;
    min-width: 60%;
    right: -7%;
    height: 94.5%;
    }

    .bannières-paragraphes-1
    {
        font-weight: bold;
        font-size: 4.5vw;
    }
    
    .bannières-paragraphes-2
    {
        font-size: 4vw;
    }

/*------------------------- Responsive mobile: Hébergements -------------------------*/
    .bloc-photo-hébergements
    {
    background-color: white;
    margin-top: 2%;
    max-width: 100%;
    justify-content: center;
    }

    .réglages-photo-hébergements
    {
    width: 85vw;
    height: 50vw;
    border-width: 1.5vw;
    border-radius: 25px 25px 0px 0px;
    }

    .photo-hébergements a
    {
    margin-top: 15%;
    }

    .bannières-hébergements
    {
    font-size: 3.8vw;
    min-width: 93.8%;
    bottom: -15%;
    line-height: 1.5;
    }

    .h1-hébergements
    {
    min-width: 100%;
    font-size: 5vw;
    margin-bottom: -20%;
    margin-left: 3%;
    }

    .h2-hébergements
    {
    width: 100%;
    font-size: 5vw;
    margin-top: 35%;
    margin-left: -99%;
    }

/*------------------------- Responsive mobile: Activités -------------------------*/
    .bloc-activités
    {
    width: 100%;
    max-height: 100%;
    }

    .photos-activités
    {
    position: relative;
    margin-top: 7%;
    max-height: 180px;
    justify-content: center;
    }

    .h1-activités
    {
    font-size: 5vw;
    margin-left: 3%;
    margin-top: 5%;
    margin-bottom: -7%;
    }

    .réglages-photo-activités-1
    {
    width: 85vw;
    height: 180px;
    }

    .réglages-photo-activités-2
    {
    width: 85vw;
    height: 180px;
    }

    .réglages-photo-activités-3
    {
    width: 85vw;
    height: 180px;
    }

    .réglages-photo-activités-4
    {
    width: 85vw;
    height: 180px;
    }

    .réglages-photo-activités-5
    {
    width: 85vw;
    min-height: 180px;
    }

    .écart-activités-1, .écart-activités-2
    {
    margin-top: 0%;
    }

    .bannières-activités
    {
    display: flex;
    font-size: 4vw;
    width: 80.65vw;
    height: 30%;
    padding-top: 0%;
    justify-content: flex-start;
    align-items: center;
    }

/*------------------------- Responsive mobile: Footer -------------------------*/
    footer
    {
    width: 100%;
    max-height: 100%;
    margin-top: 15%;
    padding-right: 5.5vw;
    padding-top: 10vw;
    }

    .bloc-footer-1, .bloc-footer-2, .bloc-footer-3
    {
    width: 90%;
    margin-bottom: 10%;
    margin-left: 10%;
    }
    


    .footer-paragraphe-1
    {
    font-size: 5vw;
    }

    .footer-paragraphe-2
    {
    font-size: 4vw;
    }
}
/*------------------------------------------------------------------------------------*/
/*------------------------- Responsive tablette (426px à 850px) -------------------------*/
/*------------------------------------------------------------------------------------*/
@media only screen and (min-width: 426px) and (max-width : 850px)
{

/*------------------------- Responsive tablette: En-tête -------------------------*/
    header
    {
    margin-top: 5%;
    }    

    .logo
    {
    width: initial;
    height: initial;
    }

    .menu
    {
    font-size: 0.94em;
    }

    .liens-menu:hover
    {
    color: #0065fc;
    border-top: none;
    padding-top: none;
    }

/*------------------------- Responsive tablette: Textes -------------------------*/
    .texte1
    {
    font-size: 1.5em;
    margin-top: 2em;
    line-height: 1.3;
    }

    .texte2
    {
    font-size: 1em;
    margin-bottom: -3%;
    margin-top: 0%;
    }

/*------------------------- Responsive tablette: Recherche, filtres et informations -------------------------*/
    .bloc-recherche
    {
    display: flex;
    margin-top: 5%;
    }

    .fa-map-marker-alt
    {
    font-size: 1em;
    padding: 0.5em;
    }

    .barre-recherche
    {
    font-size: 1em;
    }

    .bouton
    {
    font-size: 0.8em;
    -webkit-appearance: none;
    }

    .bloc-filtres
    {
    margin-top: 3%;
    flex-wrap: wrap;
    }

    .contenaire-titre-filtres
    {
    width: 5em;
    }

    .titre-filtres
    {
    font-size: 1em;
    margin-top: 0.5%;
    }

    .filtres
    {
    font-size: 1em;
    margin-bottom: 3%;
    padding: 0%;
    padding-right: 2vw;
    }

    .fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog
    {
    font-size: 1.3em;
    }

    .info
    {
    font-size: 1em;
    }

    .fa-info
    {
    font-size: 1em;
    }

/*------------------------- Responsive tablette: Blocs hébergements et populaires -------------------------*/
    .bloc-hébergements-et-populaires
    {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }

/*------------------------- Responsive tablette: Populaires -------------------------*/
    .bloc-populaires
    {
    order: -1;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 0%;
    margin-top: 5%;
    width: 95%;
    }

    .photo-populaires
    {
    margin-left: 0.1%;
    margin-right: 0%;
    margin-bottom: 3%;
    }

    .h1-populaires
    {
    font-size: 3vw;
    margin-bottom: 2%;
    }

    .titre-populaires
    {
    justify-content: center;
    align-items: baseline;
    width: 100%;
    }

    .fa-chart-line
    {
    font-size: 3vw;
    margin-left: 10%;
    }

    .réglages-photo-populaires
    {
    width: 45vw;
    height: 20vw;
    }

    .bannières-populaires
    {
    font-size: 2.5vw;
    right: 6%;
    width: 41%;
    height: 95.5%;
    padding-top: 1%;
    }

    .bannières-paragraphes-1
    {
    font-weight: bold;
    font-size: 2.5vw;
    }
    
    .bannières-paragraphes-2
    {
    font-size: 2.5vw;
    }

/*------------------------- Responsive tablette: Hébergements -------------------------*/
    .bloc-photo-hébergements
    {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2%;
    max-width: 100%;
    padding: 1.5%;
    background-color: white;
    }

    .h1-hébergements
    {
    width: 100%;
    text-align: center;
    font-size: 3vw;
    margin-bottom: 2%;
    }

    .h2-hébergements
    {
    width: 100%;
    font-size: 2vw;
    display: flex;
    margin-left: 330%;
    margin-top: 10%;
    }

    .réglages-photo-hébergements
    {
    width: 40vw;
    height: 30vw;
    margin-bottom: 5%;
    }

    .bannières-hébergements
    {
    font-size: 2.5vw;
    bottom: -5%;
    line-height: 1.2;
    }

/*------------------------- Responsive tablette: Activités -------------------------*/
    .bloc-activités
    {
    flex-direction: row;
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
    background-color: #f2f2f2;
    border-radius: 0px 0px 25px 25px;
    padding-top: 5%;
    }

    .bloc-activités a
    {
    margin-bottom: 10%;
    }

    .h1-activités
    {
    font-size: 3vw;
    margin-top: 3%;
    margin-bottom: -2%;
    width: 100%;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 25px 25px 0px 0px;
    }

    .photos-activités
    {
    max-height: unset;
    width: 100%;
    justify-content: center;
    }

    .réglages-photo-activités-1
    {
    width: 70vw;
    height: 86vw;
    }

    .réglages-photo-activités-2
    {
    margin-top: -7%;
    width: 70vw;
    height: 30vw;
    }

    .écart-activités-1
    {
    margin-top: 0%;
    }

    .réglages-photo-activités-3
    {
    width: 70vw;
    height: 20vw;
    padding-bottom: 5%;
    }

    .réglages-photo-activités-4
    {
    margin-top: -9%;
    width: 70vw;
    height: 30vw;
    }

    .réglages-photo-activités-5
    {
    width: 70vw;
    height: 30vw;
    }

    .écart-activités-2
    {
    margin-top: 0%;
    }

    .bannières-activités
    {
    position: absolute;
    font-size: 2.5vw;
    bottom: 9.5%;
    width: 65.45vw;
    height: 11vw;
    padding-bottom: 0vw;
    padding-top: 0vw;
    }

/*------------------------- Responsive tablette: Footer -------------------------*/
    footer
    {
    max-height: 30vw;
    }

    .bloc-footer-1, .bloc-footer-2, .bloc-footer-3
    {
    width: 25%;
    margin-top: 2%;
    margin-left: 5%;
    }


    .footer-paragraphe-1
    {
    font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
    font-size: 2.5vw;
    margin-bottom: 3%;
    }

    .footer-paragraphe-2
    {
    line-height: 2;
    font-size: 2vw;
    }
}

/*------------------------------------------------------------------------------------*/
/*------------------------- Responsive laptop (851px à 1275px) -------------------------*/
/*------------------------------------------------------------------------------------*/
@media only screen and (min-width: 851px) and (max-width : 1275px)
{

/*------------------------- Responsive laptop: Blocs hébergements et populaires -------------------------*/
    .bloc-hébergements-et-populaires
    {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }

/*------------------------- Responsive laptop: Populaires -------------------------*/
    .bloc-populaires
    {
    order: -1;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0%;
    margin-top: 5%;
    width: 96%;
    justify-content: space-around;
    }

    .photo-populaires
    {
    margin-left: 0.5%;
    margin-right: 0%;
    margin-bottom: 3%;
    width: 45%;
    }

    .h1-populaires
    {
    font-size: 2.2vw;
    }

    .titre-populaires
    {
    justify-content: center;
    align-items: baseline;
    width: 100%;
    }

    .fa-chart-line
    {
    font-size: 2.2vw;
    margin-left: 10%;
    }

    .réglages-photo-populaires
    {
    width: 20vw;
    height: 20vw;
    }

    .bannières-populaires
    {
    font-size: 2vw;
    right: 0%;
    width: 45%;
    height: 98.2%;
    padding-top: 1%;
    }

    .bannières-paragraphes-1
    {
    font-weight: bold;
    font-size: 1.7vw;
    }

    .bannières-paragraphes-2
    {
    font-size: 1.5vw;
    }

/*------------------------- Responsive laptop: Hébergements -------------------------*/
    .bloc-photo-hébergements
    {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2%;
    max-width: 100%;
    padding: 1.5%;
    background-color: white;
    }

    .h1-hébergements
    {
    width: 100%;
    text-align: center;
    font-size: 3vw;
    margin-bottom: 2%;
    }

    .h2-hébergements
    {
    width: 100%;
    font-size: 2vw;
    display: flex;
    margin-left: 330%;
    margin-top: 10%;
    }

    .réglages-photo-hébergements
    {
    width: 40vw;
    height: 30vw;
    margin-bottom: 5%;
    }

    .bannières-hébergements
    {
    font-size: 2.5vw;
    bottom: -5%;
    line-height: 1.2;
    }

/*------------------------- Responsive laptop: Activités -------------------------*/
    .bloc-activités
    {
    flex-direction: row;
    max-width: 100%;
    max-height: 100%;
    justify-content: space-around;
    background-color: #f2f2f2;
    border-radius: 0px 0px 25px 25px;
    padding-top: 5%;
    }

    .bloc-activités a
    {
    margin-bottom: 10%;
    }

    .h1-activités
    {
    font-size: 3vw;
    margin-top: 3%;
    margin-bottom: -2%;
    width: 100%;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 25px 25px 0px 0px;
    }

    .photos-activités
    {
    max-height: unset;
    width: 50%;
    justify-content: space-around;
    }

    .réglages-photo-activités-1
    {
    width: 43vw;
    height: 40vw;
    }

    .réglages-photo-activités-2
    {
    width: 43vw;
    height: 40vw;
    }

    .écart-activités-1
    {
    margin-top: 0%;
    }

    .réglages-photo-activités-3
    {
    width: 43vw;
    height: 40vw;
    }

    .réglages-photo-activités-4
    {
    width: 43vw;
    height: 40vw;
    }

    .réglages-photo-activités-5
    {
    width: 43vw;
    height: 40vw;
    }

    .écart-activités-2
    {
    margin-top: 0%;
    }

    .bannières-activités
    {
    position: absolute;
    font-size: 2.5vw;
    bottom: 7%;
    width: 40.7vw;
    height: 6vw;
    padding-bottom: 0vw;
    padding-top: 0vw;
    }

/*------------------------- Responsive laptop: Footer -------------------------*/
    footer
    {
    max-height: 20vw;
    }

    .bloc-footer-1, .bloc-footer-2, .bloc-footer-3
    {
    width: 25%;
    margin-top: 2%;
    margin-left: 5%;
    }


    .footer-paragraphe-1
    {
    font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
    font-size: 1.8vw;
    margin-bottom: 3%;
    }

    .footer-paragraphe-2
    {
    line-height: 2;
    font-size: 1.6vw;
    }
}

/*------------------------- Polices -------------------------*/
@font-face 
{
    font-family: "Raleway-Regular";
    src: url("Font/Raleway-Regular.ttf") format("truetype");
}

@font-face 
{
    font-family: "Raleway-Bold";
    src: url("Font/Raleway-Bold.ttf") format("truetype");
}