/*------------------------- Début du reset -------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body
{
	line-height: 2.5;
}

ol, ul
{
	list-style: none;
}

blockquote, q
{
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after
{
	content: '';
	content: none;
}

table
{
	border-collapse: collapse;
	border-spacing: 0;
}
/*------------------------- Général -------------------------*/
body
{
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 3vw;
}

html
{
    scroll-behavior: smooth;
}

a:visited, a:link, a
{
    text-decoration: none;
    color: initial;
}

/*------------------------- En-tête -------------------------*/
.logo
{
    display: flex;
    width: 8vw;
    height: 8vw;
}

.logo-et-menu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -3vw;
}

.menu
{
    display: flex;
    list-style: none;
    font-family: "Raleway-Regular";
    font-size: 1vw;
}

li
{
    margin-left: 5vw;
}

.inscription
{
    color: #0065fc;
    font-weight: bold;
}

.menu a:hover
{
    color: #0065fc;
    border-top: 2px solid;
    padding-top: 3.3vw;
}

.effet-menu
{
    display: inline-block;
    width: 130%;
    text-align: center;
}

/*------------------------- Textes -------------------------*/
.texte1
{
    font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
    font-size: 1.4vw;
    margin-top: 1%;
}

.texte2
{
    font-family: "Raleway-Regular", Arial, Helvetica, sans-serif;
    font-size: 1vw;
    margin-top: -1%; 
}

/*------------------------- Recherche et filtres -------------------------*/
.bloc-recherche
{
    display: flex;
    margin-top: 1vw;
}

.fa-map-marker-alt
{
   background-color: #f2f2f2;
   font-size: 1vw;
   text-align: center;
   border-style: solid;
   border-width: 1px;
   border-color: #f2f2f2;
   border-radius: 15px 0px 0px 15px;
   padding: 1%;
}

.barre-recherche
{
    border: none;
    font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
    border-style: solid;
    border-width: 1px;
    border-color: #f2f2f2;
    font-size: 1.1vw;
    padding: 0.5em 1em 0.5em 1em;
}

input::placeholder 
{
    color: black;
    opacity: 1;
}

input:focus
{
    outline: none;
}

.bouton
{
    border: none;
    color: white;
    background-color: #0065fc;
    font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
    border-radius: 0px 15px 15px 0px;
    font-size: 1.2vw;
    padding: 0.5em 1em 0.5em 1em;
}

.fa-search
{
    visibility: hidden;
}

.bouton:hover
{
    cursor: pointer;
}

.bloc-filtres
{
    display: flex;
    align-items: center;
    font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
    margin-top: 1.5%;
    white-space: nowrap;
}

.titre-filtres
{
    margin-right: 1.5vw;
    font-size: 1vw;
}

.filtres
{
    display: flex;
    font-size: 1vw;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-left: none;
    border-color: #f2f2f2;
    border-radius: 30px;
    padding-right: 1vw;
    margin-right: 2vw;
}

.filtres:hover
{
    background-color: #deebff;
    cursor: pointer;
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog
{
    display: flex;
    color: #0065fc;
    font-size: 1.4vw;
    padding: 0.6em;
    background-color: #deebff;
    border-radius: 50%;
    margin-right: 1vw;
}

.fa-money-bill-wave
{
    padding-right: 0.52em;
    padding-left: 0.52em;
}

.fa-child
{
    padding-right: 0.75em;
    padding-left: 0.75em;
}

.info
{
    display: flex;
    font-family: "Raleway-Regular", Arial, Helvetica, sans-serif;
    font-size: 1vw;
    margin-top: 1.5%;
}

.fa-info
{
    color: #0065fc;
    font-size: 0.9vw;
    border-style: solid;
    border-width: 2px;
    border-color: #f2f2f2;
    border-radius: 50%;
    padding: 0.4em;
    padding-right: 0.7em;
    padding-left: 0.7em;
    margin-right: 1em;
}

/*------------------------- Blocs hébergements et populaires -------------------------*/
.bloc-hébergements-et-populaires
{
    display: flex;
}

/*------------------------- Bloc hébergements -------------------------*/
.bloc-photo-hébergements
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2%;
    max-width: 65%;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 1.5%;
}

.photo-hébergements
{
    display: flex;
    position: relative;
    margin-bottom: 4%;
}

.h1-hébergements
{
    width: 70%;
    font-family: "Raleway-Bold";
    font-size: 1.5vw;
    margin-bottom: 0.5%;
}

.h2-hébergements
{
    width: 70%;
    margin-top: -2%;
    font-family: "Raleway-Bold";
    font-size: 1.2vw;
}

.réglages-photo-hébergements
{
    display: flex;
    width: 18vw;
    height: 15vw;
    object-fit: cover;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 2px rgba(187, 184, 184, 0.3);
}

.bannières-hébergements
{
    font-family: "Raleway-Regular";
    font-size: 1vw;
    background: white;
    position: absolute;
    text-align: left;
    color: black;
    border-radius: 0px 0px 25px 25px;
    bottom: 0%;
    width: 95%;
    height: 25%;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    line-height: 1.5;
    box-shadow: 0px 0px 10px 2px rgba(187, 184, 184, 0.3);
}

.gras
{
    font-weight: bold;
}

.bannières-paragraphes-1
{
    font-weight: bold;
}

.bannières-paragraphes-2
{
    font-size: 0.8em;
}

.fa-star
{
    color: #0065fc;
    font-size: 0.8em;
}

/*------------------------- Bloc populaires -------------------------*/
.bloc-populaires
{
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    margin-top: 2%;
    border-radius: 20px;
    margin-left: 2%;
    width: 30%;
    padding: 1.5%;
}

.photo-populaires
{
    display: flex;
    position: relative;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 6%;
    
}

.h1-populaires
{
    font-family: "Raleway-Bold";
    font-size: 1.5vw;
    margin-bottom: 1%;
}

.titre-populaires
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 6%;
}

.fa-chart-line
{
    font-size: 1.5vw;
    margin-right: 10%;
}

.réglages-photo-populaires
{
    width: 11vw;
    height: 11vw;
    object-fit: cover;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    border-radius: 25px 0px 0px 25px;
    box-shadow: 0px 0px 10px 2px rgba(187, 184, 184, 0.3);
}

.bannières-populaires
{
    font-family: "Raleway-Regular";
    font-size: 1vw;
    background: white;
    position: absolute;
    text-align: left;
    color: black;
    border-radius: 0px 25px 25px 0px;
    right: 0%;
    width: 52%;
    height: 94.4%;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    line-height: 1.5;
    box-shadow: 0px 0px 10px 2px rgba(187, 184, 184, 0.3);
}

/*------------------------- Bloc activcités -------------------------*/
.bloc-activités
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 35vw;
}

.photos-activités
{
    display: flex;
    position: relative;
    max-height: 35vw;
    min-width: 23.5vw;
}

.h1-activités
{
    font-family: "Raleway-Bold";
    font-size: 1.5vw;
    margin-top: 2%;
    margin-bottom: 0.5%;
}

.réglages-photo-activités-1
{
    display: flex;
    width: 21vw;
    height: 35vw;
    object-fit: cover;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 0px 10px 2px rgba(187, 184, 184, 0.3);
}

.réglages-photo-activités-2
{
    display: flex;
    width: 21vw;
    height: 18.6vw;
    object-fit: cover;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 0px 10px 2px rgba(187, 184, 184, 0.3);
}

.écart-activités-1
{
    display: flex;
    margin-top: 18.3%;
}

.réglages-photo-activités-3
{
    display: flex;
    width: 21vw;
    height: 12vw;
    object-fit: cover;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 0px 10px 2px rgba(187, 184, 184, 0.3);
}

.réglages-photo-activités-4
{
    display: flex;
    width: 21vw;
    height: 15.35vw;
    object-fit: cover;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 0px 10px 2px rgba(187, 184, 184, 0.3);
}

.réglages-photo-activités-5
{
    display: flex;
    width: 21vw;
    height: 15.35vw;
    object-fit: cover;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 0px 10px 2px rgba(187, 184, 184, 0.3);
}

.écart-activités-2
{
    display: flex;
    margin-top: 18.3%;
}

.bannières-activités
{
    font-family: "Raleway-Bold";
    font-size: 1vw;
    background: white;
    position: absolute;
    text-align: left;
    color: black;
    border-radius: 0px 0px 25px 25px;
    bottom: -1%;
    width: 19.85vw;
    height: 3.2vw;
    padding-top: 5%;
    padding-left: 5%;
    box-shadow: 0px 0px 10px 2px rgba(187, 184, 184, 0.3);
}

/*------------------------- Footer -------------------------*/
footer
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    background-color: #f2f2f2;
    margin-top: 5%;
    margin-left: -3%;
    margin-right: -3.2%;
    padding-bottom: 4%;
    max-height: 10vw;
}

.bloc-footer-1, .bloc-footer-2, .bloc-footer-3
{
    width: 25%;
    margin-top: 2%;
    margin-left: 5%;
}


.footer-paragraphe-1
{
    font-family: "Raleway-Bold";
    font-size: 1.2vw;
    margin-bottom: 3%;
}

.footer-paragraphe-2
{
    font-family: "Raleway-Regular";
    line-height: 2;
    font-size: 1vw;
}

/*------------------- Responsive mobile (≤ à 320px) -------------------*/
@media only screen and (max-width : 375px)
{
/*------------------------- Responsive mobile: En-tête -------------------------*/
    .logo
    {
    width: initial;
    height: initial;
    margin-bottom: 5%;
    margin-top: 3%;
    }

    .logo-et-menu
    {
    flex-wrap: wrap;
    }

    .menu
    {
    font-size: 100%;
    margin-bottom: 5%;
    width: 100%;
    border-bottom: 3px solid;
    border-color: #f2f2f2;
    }

    li
    {
    width: 100%;
    margin-left: unset;
    }

    .inscription
    {
    position: absolute;
    left: 75%;
    top: 2.3%;
    width: unset;
    }

    .menu a:hover
    {
    border-top: none;
    border-bottom: 3px solid;
    padding-bottom: 6%;
    }

    .effet-menu
    {
    width: 100%;
    }

/*------------------------- Responsive mobile: Textes -------------------------*/
    .texte1
    {
    font-size: 120%;
    line-height: 1.3;
    margin-bottom: 2%;
    margin-top: 5%;
    }

    .texte2
    {
    font-size: 90%;
    }

/*------------------------- Responsive mobile: Recherche, filtres et informations -------------------------*/
    .bloc-recherche
    {
    margin-top: 5%;
    justify-content: center;
    margin-bottom: 5%;
    }

    .fa-map-marker-alt
    {
    font-size: 100%;
    padding: 5%;
    }

    .barre-recherche
    {
    font-size: 100%;
    padding-right: 15%;
    }

    .bouton
    {
    border-radius: 10px;
    font-size: 100%;
    padding: 0.5em 1em 0.5em 1em;
    margin-left: -3%;
    }

    .fa-search
    {
    visibility: visible;
    }

    .texte-rechercher
    {
    display: none;
    }

    .bloc-filtres
    {
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 5%;
    }

    .titre-filtres
    {
    font-size: 100%;
    width: 190px;
    }

    .filtres
    {
    font-size: 100%;
    margin-bottom: 5%;
    padding-right: 1em;
    }

    .fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog
    {
    font-size: 120%;
    margin-right: 5%;
    }

    .fa-money-bill-wave
    {
    padding-right: 0.52em;
    padding-left: 0.52em;
    }

    .fa-child
    {
    padding-right: 0.75em;
    padding-left: 0.75em;
    }

    .info
    {
    font-size: 80%;
    line-height: 1.5;
    margin-bottom: 5%;
    }
    
    .fa-info
    {
    font-size: 80%;
    float: left;
    }

/*--------------- Responsive mobile: Blocs hébergements et populaires ---------------*/
    .bloc-hébergements-et-populaires
    {
    display: flex;
    flex-direction: column;
    }
    
/*------------------------- Responsive mobile: Populaires -------------------------*/
    .bloc-populaires
    {
    order: -1;
    width: 100%;
    margin-left: -5%;
    margin-right: -3%;
    padding-right: 6.8%;
    border-radius: 0px;
    }

    .h1-populaires
    {
    font-size: 90%;
    }

    .fa-chart-line
    {
    font-size: 90%;
    margin-right: 0%;
    }

    .réglages-photo-populaires
    {
    width: 50%;
    height: 120px;
    }

    .bannières-populaires
    {
    font-size: 70%;
    width: 50;
    right: -7%;
    height: 93.3%;
    }

/*------------------------- Responsive mobile: Hébergements -------------------------*/
    .bloc-photo-hébergements
    {
    background-color: white;
    margin-top: 2%;
    max-width: 100%;
    }

    .réglages-photo-hébergements
    {
    width: 96%;
    height: 180px;
    }

    .bannières-hébergements
    {
    font-size: 70%;
    width: 93.7%;
    }

    .h1-hébergements
    {
    width: 100%;
    font-size: 90%;
    }

    .h2-hébergements
    {
    width: 100%;
    font-size: 80%;
    }

/*------------------------- Responsive mobile: Activités -------------------------*/
    .bloc-activités
    {
    width: 100%;
    max-height: 100%;
    }

    .photos-activités
    {
    position: relative;
    margin-top: 7%;
    max-height: 180px;
    }

    .h1-activités
    {
    font-size: 90%;
    margin-top: 5%;
    margin-bottom: -7%;
    }

    .réglages-photo-activités-1
    {
    width: 100%;
    height: 180px;
    }

    .réglages-photo-activités-2
    {
    width: 100%;
    height: 180px;
    }

    .réglages-photo-activités-3
    {
    width: 100%;
    height: 180px;
    }

    .réglages-photo-activités-4
    {
    width: 100%;
    height: 180px;
    }

    .réglages-photo-activités-5
    {
    width: 100%;
    height: 180px;
    }

    .écart-activités-1, .écart-activités-2
    {
    margin-top: 0%;
    }

    .bannières-activités
    {
    font-size: 70%;
    width: 95%;
    height: 25%;
    }

/*------------------------- Responsive mobile: Footer -------------------------*/
    footer
    {
    width: 100%;
    max-height: 100%;
    margin-top: 15%;
    padding-right: 6.3%;
    }

    .bloc-footer-1, .bloc-footer-2, .bloc-footer-3
    {
    width: 100%;
    margin-bottom: 5%;
    }


    .footer-paragraphe-1
    {
    font-size: 120%;
    }

.footer-paragraphe-2
    {
    font-size: 90%;
    }
}

/*------------------------- Polices -------------------------*/
@font-face 
{
    font-family: "Raleway-Regular";
    src: url("Font/Raleway-Regular.ttf") format("truetype");
}

@font-face 
{
    font-family: "Raleway-Bold";
    src: url("Font/Raleway-Bold.ttf") format("truetype");
}